<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= titulo%></title>
</head>
<body>
    <nav>
        <div class="titulo-site">
            <a href="/"><h1>Blog</h1></a>
            <p>Site</p>
        </div>
    <ul>
        <li><a href="/">Blog</a></li>
        <li><a href="/sobre">Sobre</a></li>
        <li><a href="/blog/criar">Novo Blog</a></li>
    </ul>
</nav>

<div class="criar-conteudo-blog">
    <form>
        <label for="titulo">Título do Blog</label>
        <input type="text" id="titulo" required>
        <label for="texto-curto">Texto curto do Blog</label>
        <input type="text" id="texto-curto" required>
        <label for="conteudo">Conteúdo do Blog:</label>
        <textarea id="conteudo" required></textarea>
        <button>Enviar</button>
    </form>
</div>
</div>
</body>
</html>