<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title><%= titulo %>Blog</title>
     <style>
        @import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');
        nav{
            display: flex;
            justify-content: space-between;
            margin-bottom: 60px;
            padding-bottom: 10px;
            border-bottom: 1px solid #987;
            text-transform: uppercase;
        }
        nav ul{
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
        }
        nav li{
            list-style-type: none;
            margin-left: 20px;
        }
        nav h1{
            font-size: 3em;
        }
        nav p, nav a{
            color: #888;
            font-weight: 300;
        }
        footer{
            color: #888;
            text-align: center;
            margin: 80px auto 20px;
        }
    </style>
</head>
<body>
    <nav>
        <div class="titulo-site">
            <a href="/"><h1>Blog</h1></a>
            <p>Site</p>
        </div>
    <ul>
        <li><a href="/">Blog</a></li>
        <li><a href="/sobre">Sobre</a></li>
        <li><a href="/blog/criar">Novo Blog</a></li>
    </ul>
</nav>
<div class="conteudo-blog">
    <h2>Todo Blog</h2>
    <% if (blogs.length > 0){%>
            <% blogs.forEach(blog => {%>
                
                <h3 class="titulo"><%= blog.titulo %></h3>
                <p class="conteudo"><%= blog.conteudo %></p>

            <% }) %>
        <% } %>
</div>
</body>
</html>